.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;

  h2 {
    margin: 0;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
      width: 260px;
    }
  }
}

:host ::ng-deep .p-datatable-sm td,
:host ::ng-deep .p-datatable-sm th {
  text-align: left;
  padding: 0.75rem 1rem;
}
