/* src/app/layout/layout.component.scss */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px); /* header + footer occupy space */
}

.app-content {
  flex: 1;
  padding: 1rem;
  background: var(--surface-ground);
}
