// /* styles.scss */
// @import "~primeng/resources/themes/lara-light-indigo/theme.css";
// @import "~primeng/resources/primeng.min.css";
// @import "~primeicons/primeicons.css";

/* Variáveis para dark-mode simples */
:root {
  --surface-card: #ffffff;
  --surface-ground: #f4f6f8;
  --text-color: #111827;
  --primary-500: #0ea5a0;
}

body.dark-mode {
  --surface-card: #0f1724;
  --surface-ground: #071025;
  --text-color: #e6eef6;
  --primary-500: #06b6d4;
  background: var(--surface-ground);
}
